@use "./style/variables";

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  header {
    h1 {
      color: variables.$heading-text-color;
      position: absolute;
      display: flex;
      letter-spacing: 10px;
      top: 163px;
      margin-bottom: 87px;
    }
  }
}
