@use "./style/variables";
@import "./style/variables";

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;

  header {
    justify-content: center;
    display: flex;
    h1 {
      color: variables.$heading-text-color;
      justify-content: center;
      display: flex;
      letter-spacing: 10px;
      margin-top: 163px;
      margin-bottom: 87px;
    }
  }
}

@media only screen and (max-width: 920px) {
  .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    // box-sizing: border-box;
  }

  .calculator-left {
    width: 90vw;
    .tip-buttons {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .calculator-right {
    margin-top: 32px;
    width: 90vw;
    height: 350px;
  }

  .calculator-right-bottom {
    button {
      margin-top: 40px;
    }
  }
}

@media only screen and (min-width: 920px) {
  .calculator {
    width: 920px;
    padding: 48px;
    box-sizing: border-box;

    .calculator-left {
      width: 379px;

      .tip-buttons {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .calculator-right {
      width: 413px;
      height: 417px;
    }

    .calculator-right-bottom {
      button {
        margin-top: 100px;
      }
    }
  }
}
.calculator {
  button {
    cursor: pointer;
  }
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;

  .calculator-left {
    input {
      padding: 10px;
      box-sizing: border-box;
      @include basicFont;
      @include input-style;
      text-align: right;
    }

    input:focus {
      outline: none !important;
      border: 2px solid #26c2ae;
    }

    .calculator-left-top-bottom {
      p {
        color: variables.$input-label;

        @include texFont;
      }
      input {
        max-width: 100%;
      }
      input:target {
        float: right;
      }

      input::placeholder {
        @include basicFont;
        text-align: right;
        color: variables.$main-color;

        mix-blend-mode: normal;
        opacity: 0.35;
      }
    }
  }

  .calculator-left-middle {
    p {
      color: variables.$input-label;
      @include texFont;
    }
  }
  .tip-buttons {
    display: grid;

    input {
      max-width: 117px;
      height: 48px;
      border-radius: 5px;
      border-style: none;
    }
    input::placeholder {
      text-align: center;
      @include basicFont;
      color: #547878;
    }

    button {
      margin-bottom: 14px;
      @include basicFont;
      color: #ffffff;
      border-style: none;
      width: 117px;
      height: 48px;
      background: variables.$main-color;
      border-radius: 5px;
    }
    button:focus {
      background-color: #26c2ae;
      color: black;
    }
  }

  .calculator-right {
    border-radius: 15px;
    box-sizing: border-box;
    padding: 40px;

    background-color: #00474b;

    .render-amount {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      h2 {
        @include texFont;
        color: white;
      }
      p {
        color: #7f9d9f;
        font-size: 12px;
      }
      span {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;

        text-align: right;
        letter-spacing: -1px;

        color: #26c2ae;
      }
    }
  }

  .calculator-right-bottom {
    button {
      @include texFont;
      background: #26c2ae;
      border-radius: 5px;
      width: 100%;
      border-style: none;

      height: 48px;
    }
  }
}
